$images-path: '../img/';

$font-stack-serif: "Microsoft Sans Serif", sans-serif, "Roboto";
$font-fire-sans-stack: 'Fira Sans', sans-serif, "Roboto";


$png-name-list: 'laptop', 'monitor', 'processor', 'tv', 'phone', 'printer', 'headphones', 'signal', 'boiler', 'wash', 'zip', 'smile', 'ball';

