.b-header_wr {
  width: 100%;
  height: 443px;
  display: block;

  .m-header_bg {
    background: url($images-path + 'header_bg.png') no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 0;
    position: absolute;
    min-height: 443px;
    top: 0;
    left: 0;
    right: 0;
  }

  .m-header_decoration{
    background: url($images-path + 'header_decoration.png') no-repeat center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    min-height: 443px;
  }

  .e-header_logo {
    position: absolute;
    top: 20px;
    left: 20px;
    background-image: url($images-path + "header_logo.png");
    height: 75px;
    width: 155px;
  }

  .b-header {
    min-width: 450px;
    height: 100%;
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 150px;
    margin: 0 auto;

    .e-book_name {
      font-size: 66px;
      height: 90px;
      color: #ffffff;
      text-align: center;
      font-family: $font-fire-sans-stack;
      letter-spacing: 6px;
      font-weight: 600;
    }

    .e-autor {
      font-family: $font-fire-sans-stack;
      font-size: 22px;
      font-weight: 500;
      color: #ffffff;
      letter-spacing: 2px;
      margin: 5px;

      span {
        font-style: italic;
        font-size: 16px;
      }
    }

    .e-rating {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 130px;
      margin-top: 15px;

      .star {
        background-image: url($images-path + "star_sprite.png");
        width: 21px;
        height: 20px;

        &+.star {
          margin-left: 6px;
        }

        &.empty {
          background-position: -21px;
        }
      }
    }
  }

  .b-header-menu{
    position: absolute;
    display: block;
    top: -130px;
    right: 0;
    left: 0;
    height: 130px;
    background-color: white;
    opacity: 0.97;
    box-shadow: 5.8px 5.6px 12px rgba(21, 48, 68, 0.1);
    transition: top 0.3s;

    &.active {
      top: 0;
    }

    .b-soc-string{
      position: absolute;
      top: 10px;
      left: 40px;
      display: flex;
      width: 200px;
      height: 50px;
      flex-direction: row;

      &__icon {

        height: 22px;
        background: url($images-path + "social_menu_sprite.png") no-repeat;
        cursor: pointer;
        margin: 10px;

        :hover {
          border-bottom: 2px solid #cf81fb;
        }
      }
    }

    .m-facebook {
      width: 14px;
    }

    .m-twitter {
      background-position: -27px;
      width: 29px;
    }

    .m-google {
      background-position: top right;
      width: 26px;
    }

    .e-header-menu_logo {
      background: url($images-path + "menu_logo.png") no-repeat center;
      width: 155px;
      height: 75px;
      margin: 16px auto;
      display: block;
    }

    .b-header_navigation {
      display: block;
      width: 320px;
      margin: 0 auto;

      ul {
        display: flex;
      }

      li {
        position: relative;
      }

      a {
        font-family: $font-fire-sans-stack;
        text-transform: uppercase;
        color: #3f3d3b;
        text-decoration: none;
        font-weight: 500;
        font-size: 15px;
      }

      a:after {
        display: block;
        content: "";
        background-color: #3f3d3b;
        height: 3px;
        width: 0%;
        left: 50%;
        position: absolute;
        -webkit-transition: width .3s ease-in-out;
        -moz--transition: width .3s ease-in-out;
        transition: width .3s ease-in-out;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
      }

      a:hover:after,
      a:focus:after {
        width: 100%;
      }

      /*a:hover {
        border-bottom: 2px solid #3f3d3b;
      }*/

      li + li{
        margin-left: 20px;
      }
    }
  }

  .menu-border-top {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    top: -4px;
    right: 0;
    background-color: #ffffff;
    transition: all 0.1s;

    &.active {
     // top: 0;
    }
  }

  .b-menu-button {
    position: absolute;
    display: block;
    top: 0;
    right: 30px;
    cursor: pointer;
    z-index: 3;
    transition: all 0.1s;

    &:hover {
    //  top: 5px;
    }

    .e-menu_icon{
      background-image: url($images-path + "menu-flag.png");
      background-repeat: no-repeat;
      height: 66px;
      width: 54px;
      display: block;



      span {
        position: absolute;
        color: #ffffff;
        font-size: 11px;
        margin-left: 13px;
        top: 8px;
        z-index: 99;
      }

      &:before {
        background: url($images-path + 'hamburger-icon.png') no-repeat top left;
        height: 19px;
        width: 26px;
        content: '';
        position: absolute;
        left: 13px;
        top: 22px;
      }

      &.active {
        top: 0;

        span{
          visibility: hidden;
        }
      }

      &.active:before {
        background: url($images-path + 'hamburger-icon.png') no-repeat top right;
        left: 10px;
      }
    }
  }
}