* {
  box-sizing: border-box;
}
body {
  width: 100%;
}

input[type=number].input-number–noSpinners { -moz-appearance: textfield; }
input[type=number].input-number–noSpinners::-webkit-inner-spin-button,
input[type=number].input-number–noSpinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.b-main {
  width: 100%;
  display: block;

  .b-main-card-wr {
    max-width: 1020px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

    .b-main-card {
      display: flex;
      flex-flow: row wrap;
      margin-bottom: 20px;

      .e-book-left {
        position: relative;
        display: block;
        flex: 1 1 400px;
        height: 500px;

        img {
          position: absolute;
          top: -65px;
          left: 15px;
        }
      }

      .e-book-right {
        display: flex;
        flex-direction: column;
        flex: 1 1 395px;

        .e-price-wr {
          position: relative;

          img {
            position: absolute;
            top: 35px;
            left: 15px;
          }

          .e-price {
            margin: 85px 0 85px 65px;
            color: #41cde0;
            font-size: 52px;
            font-family: $font-fire-sans-stack;
            line-height: 47px;
            width: 150px;

            span {
              font-size: 36px;
            }
          }
        }

        .e-book-radio {
          margin: 0 15px;

          h2 {
            color: #242424;
            font-family: $font-fire-sans-stack;
            font-size: 21px;
            margin-bottom: 20px;
          }

          .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 16px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            span {
              color: #8e8e8e;
              font-family: $font-fire-sans-stack;
              line-height: 22px;
            }

            input {
              position: absolute;
              opacity: 0;
              cursor: pointer;
            }

            &:hover input ~ .checkmark {
              background-color: #dddddd;
            }

            input:checked ~ .checkmark:after {
              display: block;
            }

            .checkmark {
              position: absolute;
              top: 0;
              left: 0;
              height: 21px;
              width: 21px;
              border: 2px solid #892da8;
              border-radius: 50%;

              &:after {
                content: "";
                position: absolute;
                display: none;
                top: 3px;
                left: 3px;
                width: 11px;
                height: 11px;
                border-radius: 50%;
                background: #892da8;
              }
            }
          }
        }

        .e-book-info {
          display: block;
          margin: 0 15px;
          font-family: $font-fire-sans-stack;
          font-size: 16px;
          color: #8e8e8e;
          line-height: 24px;
          letter-spacing: 1px;

          span {
            color: #242424;
          }
        }

        .b-book-store {
          margin: 0 15px;
          display: flex;

          .e-book-count-wr {
            flex: 1 1 120px;
            display: flex;
            font-family: $font-fire-sans-stack;
            align-items: center;
            line-height: 51px;

            .m-count {
              display: block;
              color: #690f69;
              font-size: 24px;
              font-weight: 300;
              margin: 0 15px;
              border: 0;
              background: none;
              cursor: pointer;
            }

            .e-counter {
              color: #41cde0;
              font-size: 22px;
              font-weight: 300;
              text-align: center;
              //padding-top: 13px;
              width: 58px;
              height: 51px;
              border: 1.5px solid #690f69;

            }
          }

          .e-book-addtocart {
            flex: 1 1 185px;
            cursor: pointer;
            //background-color: #690f69;
            text-transform: uppercase;
            border: 0;
            background: linear-gradient(135deg, rgba(105, 15, 105, 1) 0%, rgba(105, 15, 105, 1) 50%, rgba(199, 15, 199, 1) 51%, rgba(199, 15, 199, 1) 100%);
            background-size: 300% 100%;
            background-position: left bottom;
            transition: all .5s ease;

            &:hover {
              background-position: right top;
              box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

            }

            span {
              position: relative;
              font-family: $font-fire-sans-stack;
              color: white;
              font-size: 16px;
              font-weight: 400;
              margin-left: 11%;
            }

            span:before {
              background: url($images-path + "book-basket.png") no-repeat center;
              display: block;
              position: absolute;
              content: '';
              width: 21px;
              height: 18px;
              top: 0;
              left: -27px;
            }
          }
        }

        .e-spacing {
          width: 94%;
          display: block;
          position: relative;
          height: 1px;
          opacity: 0.31;
          background-color: #892da8;
          margin: 25px 15px;

        }
      }
    }
  }

  .b-slider-wr {
    position: relative;
    margin: 125px auto 0;
    /*Очень странное место, надо менять или картинку, или менять весь дизайн*/
    //max-width: 1280px;

    .e-page-bg {
      background: url($images-path + "book-page-bg.png") no-repeat center;
      -webkit-background-size: cover;
      background-size: cover;
      z-index: 0;
      position: absolute;
      min-height: 775px;
      top: 0;
      left: 0;
      right: 0;
    }
  }
}